html{
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 48, 48);
}

body{
    margin-top: 20px;
    background-color: rgb(77, 77, 77) ;
    border-radius: 20px;
    width: 80%;
}

h1{
    height: 20px;
}

hr{
    margin-top: 25px;
    margin-bottom: 40px;
    width: 90%;
    
}

.texto{
    color: rgb(218, 218, 219);
}

.imagem{
    width: 100px;
    height: 100px;
}

.imagem:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.quadro{
    width: 220px;
    height: 220px;
}

.adons{
    width: 70px;
    height: 70px;
}

.adons, #Item{
    border-radius: 5px;
}

.configs{
    margin: 20px;
    opacity: 0.85;
}

.configs:hover{
    opacity: 1;
}

.perkdiv{
    display: flex;
    flex-direction: column;
}

.remove{
    height: 20px;
    width: 20px;
    opacity: 30%;
}
.remove:hover{
    opacity: 80%;
}

.infos{
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 50px;
}
.infos>img{
    padding-left: 20px;
    padding-bottom: 20px;
}

#AbaConfigurações{
    display: flex;
}

#AbaConfigurações > .imagem, #AbaConfigurações > div{
    margin-right: 100px;
}

#TrocarTime, #AreaImportExport, #Informações{
    animation: fadeIn 0.8s 1;
}

#importar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#importar>p{
    margin: 0px;
    margin-top: 8px;
    color:rgb(218, 218, 219);
}
#importar>input{
    margin: 5px;
}
#exportar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#exportar > button{
    margin-left: 15px;
}
#exportar > p{
    color:rgb(218, 218, 219);
}

#cabeçalho {
    display: flex;
    align-items: center; 
    width: 100%;
}


#cabeçalho h1 {
    position: absolute;
    left: 50%;  /* Posiciona o título no meio da tela */
    transform: translateX(-50%);  /* Ajusta a posição para garantir que o centro do título esteja no meio da tela */
}

#LoadoutSelecionado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PerksS{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin: 50px;
}

#ItensS{
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: flex-end;
}

#Seleção{  /*IPC escrever qualquer coisa para nao ficar errado em partes como o javascript (ex: antes ao adicionar as imagens estava perdendo espaço entre elas, entao criei esse display flex com gap que concertou)*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.centralizado{
    justify-content: center;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 0.85;
        transform: scale(1);
    }
}